<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      <% users.map(user => { %>
      <li>
        <div>
          <strong><%= user.first_name %> </strong>
          <strong><%= user.last_name %></strong>
          <br />
          <span><%= user.email %></span>
        </div>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
